.input-bar {
  align-content: center;
  background-color: #000000;
  color: white;
  display: flex;
  font-size: 1cm;
  font-weight: bold;
  height: 3em;
  width: inherit !important;
  outline: 1px solid #888888;
  word-wrap: break-word;
  text-align: left
}

.input-text {
  text-overflow: ellipsis;
  width: inherit;
  height: inherit;
  word-wrap: break-word;
  margin-left: 4px;
}

.operator {
  background-color: #fe9241;
  color: #ffffff;
}
