.results-list {
  align-items: center;
  display: flex;
  flex: 1;
  flex-grow: 1;
  height: 50%;
  width: 37%;
  position: fixed;
  background: lightcyan;
  border-radius: 7px;
  word-wrap: break-word;
  word-break: break-all;
  text-overflow: ellipsis;
  overflow-y: scroll;
}
