.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100vw;
}

.calc-wrapper {
    width: 400px;
    height: 400px;
    margin-left: 20px;
}

.button-row {
    display: flex;
    width: inherit;
}
